// This is the main stylesheet for the site
option:first {
    color: #999999;
}
.nav-bar-uniq {
    background-color: #A55723!important;
}

.nav-item-uniq {
    color: #ffe249!important;
}

body {
    background-image: url(../images/cuteghosts.png);
    background-size: 300px;
}

html {
    height: 100%;
}

.wrapper-uniq {
    background-color: #242424;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.internal-body-uniq {

#messages {
    padding: 0px;
}

.message {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.message-good {
    background: darkseagreen;
    border-color: darkgreen;
}

.message-bad {
    background: lightcoral;
    border-color: darkred;
}