// This is the main stylesheet for the site
option:first {
    color: #999999;
}
.nav-bar-uniq {
    background-color: #A55723!important;
}

.nav-item-uniq {
    color: #ffe249!important;
}

body {
    background-image: url(cute%20ghosts.png);
    background-size: 200px;
    background-attachment: fixed;
}

html {
    height: 100%;
}